@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/rubik-v28-cyrillic_latin-regular.woff2") format("woff2");
  }
  
  @font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/rubik-v28-cyrillic_latin-500.woff2") format("woff2");
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Rubik", Arial, sans-serif;
    font-weight: 500;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  
  .container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-top {
    background-color: #f6f6f6;
    padding: 30px 0px;
  }
  
  .hero-top__warpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-top__left {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  
  .logo-link {
    text-decoration: none;
  }
  
  .header-prices {
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  .header-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
  }
  
  .valyuta {
    color: rgb(41, 89, 206);
  }
  
  .header-top__right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .header-search {
    padding: 13px 15px;
    border-radius: 60px;
    border: none;
    outline: none;
  }
  
  .header-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    gap: 8px;
  }
  
  .header-lenguage {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.41px;
  }
  
  .language-active {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .language-ru {
    padding-right: 10px;
  }
  
  .sign-up {
    padding: 13px 20px;
    color: white;
    background-color: #7296ec;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 18.96px;
    text-decoration: none;
  }
  
  .header-nav {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .header-link {
    font-size: 18px;
    line-height: 21.33px;
    color: #7f7f7f;
    text-decoration: none;
  }
  
  .article-img {
    margin-top: 40px;
    border-radius: 8px 0px 0px 0px;
  }
  
  .section-container {
    display: flex;
    align-items: baseline;
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 30px;
  }
  
  .section-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    border-left: 100px;
  }
  
  .section-item {
    width: 393px;
    height: 382px;
    margin-top: 20px;
    padding: 20px 17px 15px 17px;
    gap: 15px;
    border-radius: 15px 0px 0px 0px;
    background-color: #f6f6f6;
  }
  
  .section-heading {
    width: 346px;
    height: 78px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .section-paragraph {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #4a4b4c;
    margin-bottom: 10px;
  }
  
  .aside {
    padding-left: 91px;
    margin-top: 60px;
  }
  
  .source {
    display: flex;
    padding-top: 15px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
  }
  
  .time {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    color: #5e5f61;
  }
  
  
  .divofh {
    margin-top: 60px;
  }
  
  .headingone {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    color: #000000;
  }
  
  .sectionlist {
    margin-top: 20px;
    width: 797px;
    height: 205px;
  }
  
  .sectionitem {
    padding: 15px;
    display: flex;
    border: none;
  }
  
  .smallcon {
    width: 535px;
    height: 52px;
    padding-left: 15px;
  }
  
  .sectionheading {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
  
  }
  
  .sectionparagraph {
    padding-top: 10px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #4a4b4c;
  }
  
  .section-btn {
    margin-top: 590px;
    width: 796px;
    height: 53px;
    border-radius: 10px 0px 0px 0px;
    background-color: #eaeaea;
    border: none;
  }
  
  
  .buttontext {
    padding: 17px 340px 17px 340px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #000000;
  }
  
  .whole-container {
    display: flex;
  }
  
  .second-container {
    width: 393px;
    height: 502px;
    margin-top: 20px;
    padding-left: 17px;
    border-radius: 15px 0px 0px 0px;
    background-color: #f6f6f6;
    border: none;
  }
  
  .second-heading {
    margin-top: 20px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.44px;
    color: #000000;
  }
  
  .third-heading {
    margin-top: 20px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
  }
  
  .second-paragraph {
    margin-top: 8px;
    padding-bottom: 25px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #5e5f61;
  }
  
  .articleimg {
    padding-left: 10px;
    padding-top: 10px;
  }
  
  
  
  
  
  
  .footer {
    margin-top: 100px;
    height: 356px;
    background-color: #7297EF;
  }
  
  .whole-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
  }
  
  .footer-title {
    padding-top: 40px;
    padding-left: 100px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.44px;
    color: #ffffff;
  }
  
  
  .footer-left {
    width: 229px;
  
  }
  
  .footer-text {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
  }
  
  
  .footer-list {
    list-style: none;
    padding-bottom: 20px;
  }
  
  .footer-item {
    text-decoration: none;
    padding-bottom: 20px;
    font-family: "Rubik", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    color: #ffffff;
  }
  
  .footer-divider {
    margin-left: 100px;
    margin-top: 30px;
    width: 998px;
    height: 1px;
    background-color: #cecece;
  
  }
  
  .footer-bottom {
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    gap: 610px;
  }
  
  .footer-text-div {
    width: 160px;
  }
  
  .footer-social-text {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #ffffff;
  }
  
  .footer-icon {
    padding-left: 25px;
  }